// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover{
  background-image: image-url('confirm_img.jpg');
  background-size: cover;
  background-position: top;
  height: auto;
  opacity: 0.9;
}