
  <table class="table table-hover table-inverse">
    <thead>
     <tr>
      <th>ジャンル</th>
     </tr>
    </thead>
    <tbody>
      <tr>
        <% genres.each do |genre| %>
        <td>
          <%= link_to genre_path(genre) do %>
          <%= genre.genre_name %>
          <% end %>
          </td>
      </tr>
      <% end %>
    </tbody>
  </table>

